<!DOCTYPE html>
<html>
<head>
  <title>Babylon Meet</title>
  <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
  <div class="container">
    <div class="second-background">
        <div style="border-bottom-style: inset;
        display: flex;
        align-items: center;">
        <img src="../static/images/icons8-camera-64.png" style="padding: 31px;">
        <h1 style="font-size: large;
        font-family: sans-serif;">Status Update Meeting | Réunion pour faire le point</h1>
        </div>
        <div class="contain" style="padding-top: 4vh;
        padding-left: 2vw;">
        <img src="../static/images/stock image.webp" alt="FaceTime background image" class="background-image">
        <div class="call-bar">
          <button id="cameraButton" class="rounded-camera-button-on" type="button" onclick="changeCameraColor()">
            <ion-icon name="videocam" size="large"></ion-icon>
          </button>
          <button id="micButton" class="rounded-mic-button-on" type="button" onclick="changeMicColor()">
            <ion-icon name="mic" size="large"></ion-icon>
          </button>
          <button id="endCallButton" class="rounded-phone-button" type="button" onclick="endCall()">
            <ion-icon name="call" size="large"></ion-icon>
          </button>
        </div>
        <img src="../static/images/stock image 2.webp" alt="FaceTime call image" class="call-image">
        <div>
          <h1>Audio Logs will be here</h1>
        </div>
      </div>

  </div>
  </div>
<script src="../static/js/main.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
