<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="container">
    <div id="wrapper">
        <div id="join" class="animate join">
            <h1>Join a Room</h1>
            <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
                <p>
                    <input type="text" name="name" value="" id="name" placeholder="Username" required>
                </p>
                <p>
                    <input type="text" name="room" value="" id="roomName"
                           placeholder="Room" required>
                </p>
                <p>
                <div class="input-group">
                    <label for="voice">Select a voice</label>
                    <select id="voice">
                        <option th:each="voice : ${voices}" th:value="${voice.id}" th:text="${voice.name}"></option>
                    </select>
                </div>
                </p>

                <p>
                <div class="input-group">
                    <label for="language">Select a language</label>
                    <select id="language">
                        <option th:each="language : ${languages}" th:value="${language.id}" th:text="${language.planText}"></option>
                    </select>
                </div>
                </p>

                <p class="submit">
                    <input type="submit" name="commit" value="Join!">
                </p>
            </form>
        </div>
        <div id="room" style="display: none;">
            <h2 id="room-header"></h2>
            <div id="participants"></div>
            <input type="button" id="button-leave" onmouseup="leaveRoom();"
                   value="Leave room">
        </div>
    </div>
</div>
</body>
</html>